*{
    margin: 0;
    padding: 0;
}
h1 {
    color: darkslategrey;
    font-size: 40px;
}
.hello {
    margin: 20px;
}
ul {
    list-style-type: none;
}
body {
    text-align: center;
    background-color: seashell;
}