@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body{
    background-color: #E5E5E5;
    width: 1280px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content:center;
    font-size: 18px;
    font-weight: 400;
}
.resume-about{
    width: 349px;
    height: 1039px;
    background-color: #fff;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    margin: 28px 14px 0 28px;
}
.resume-about__photo {
    margin: 71px 62px 0 62px;
}
.resume-about__main {
    text-align: center;
}
.resume-about__main h1{
    margin-top: 54px;
    font-size: 32px;
    line-height: 37px;
}
.resume-about__main{
    margin-top: 24px;
    font-size: 20px;
    line-height: 23px;
}
.resume-about hr{
    width: 284px;
    margin-top: 62px;
    margin-bottom: 67px;
    border: 1px solid #969696;
}
.resume-about__feedback p{
    margin-bottom: 40px;
    line-height: 21px;
}
.resume-about__feedback img{
    margin-right: 31px;
    margin-left: 58px;
    height: 18px;
    width: 22px;
}
.resume-about button {
    color: white;
    background-color: #999696;
    width: 250px;
    height: 50px;
    border-radius: 25px;
    border: 0;
    padding: 0;
    margin: 71px 50px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}
.resume-about button,
.resume-about button:active,
.resume-about button:focus {
    outline: none;
}
h3, h4 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
}
.resume-content{
    width: 861px;
    margin-top: 28px;
    margin-right: 28px;
    display: flex;
    flex-direction: column;
    
}
.resume-content-feauter{
    background: #FFFFFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    margin-bottom: 14px;
}
.resume-content__about h3{
    margin: 71px 73px 0 72px;
}
.resume-content__about-text{
    margin: 36px 73px 65px 72px;
    font-weight: 500;
}

.resume-content__skills h3{
    margin: 71px 73px 0 72px;
}
.resume-content__skills ul{
    margin-left: 35px;
}
.resume-content__skills li{
    float: left;
    margin-right: 25px;
    margin-top: 36px;
    margin-bottom: 65px;
    line-height: 21px;
    font-size: 16px;
}
.resume-content__skills li:nth-child(1){
    display: inline;
    list-style-type: none;
}
.resume-content__skills li:nth-last-child(1){
    margin-right: 0px;
}
.resume-content__wrapper h3{
    margin: 62px 73px 0 72px;
}
.resume-content hr{
    width: 754px;
    border: 1px solid #969696;
}
.resume-content__wrapper-block {
    margin-top: 38px;
    margin-left: 78px;
    margin-right: 73px;
    margin-bottom: 69px;
    display: flex;
}
h4{
    margin-bottom: 0;
}
.resume-content__wrapper-block-info-expirience{
    margin: 0;
}
.resume-content__wrapper-block-info-expirience p{
    margin: 0;
}
.resume-content__wrapper-block-info-expirience p:nth-child(2){
    font-weight: 500;
}
.resume-content__wrapper-block-company-logo{
    width: 96px;
    height: 96px;
    margin-right: 34px;
    margin-top: 30px;
}
.resume-content__wrapper-block-company-logo p{
    width: 96px;
    font-weight: 900;
    font-size: 64px;
    color: #FFFFFF;
    background: #C4C4C4;
    border-radius: 16px;
    text-align: center;
    margin: 0;
    padding: 5px 0;
}
.resume-content__languages h3{
    margin: 71px 73px 0 80px;

}
.languages-block{
    margin: 17px 73px 64px 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.languages-block__item{
    background-color: #E7E7E7;
    width: 223px;
    height: 118px;
    border-radius: 10px;
    display: flex;
}
.country-flag{
    width: 50px;
    height: 29px;
    margin: 20px;
}
.item-info-text {
    margin: 0;
    font-size: 14px;
    margin-right: 10px;
}
.country-name{
    font-weight: 700;
    margin-bottom: 8px;
}
.resume-content__interest h3{
    margin: 71px 73px 0 72px;
}
.interest-list{
    margin: 30px 66px 79px 72px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.interest-list li{
    list-style-type: none;
    background-color: #233558;
    border-radius: 10px;
    width: 186px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
    padding: 10px 0;
    margin-right: 26px;
}
.interest-list li:nth-last-child(1){
    margin-right: 0;
}
@media screen and (min-width: 992px) and (max-width: 1279px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .resume-about{
        width: 922px;
        height: 599px;
        display: flex;
        justify-content: space-around;
        margin: 0;
    }
    .resume-about__photo {
        width: 279px;
        height: 279px;
    }
    .resume-about__main{
        text-align: left;
        margin: 0;
        margin-top: 127px;  
    }
    .resume-about__main p{ 
        margin-top: 15px;
    }
    .resume-about__feedback p{
        margin-bottom: 32px;
    }
    .resume-about__feedback img{
        margin-left: 0;
    }
    .resume-about hr{
        margin: 36px 0 52px 0;
        border: 1px solid #969696;
    }
    .resume-about button {
        margin: 0;
        position: relative;
        left: -450px;
        bottom: 100px;
    }
    .resume-content{
        margin-right: 0;
        width: 922px;
    }
}
@media screen and (min-width: 320px) and (max-width: 991px){
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .resume-about{
        width: 708px;
        height: 1090px;
    }
    .resume-about__photo {
        width: 302px;
        height: 302px;
        margin: 95px 203px 0 203px;
    }
    .resume-about__main{
         margin-top: 37px;
    }
    .resume-about h1{
        margin: 0;
        font-size: 38px;
        line-height: 45px;
    }
    .resume-about__main-text{
        margin-top: 31px;
    }
    .resume-about__main p{ 
        margin-top: 0;
        margin-bottom: 18px;
        font-size: 24px;
        line-height: 28px
    }
    .resume-about__feedback p{
       text-align: center;
       margin: 0;
       margin-bottom: 33px;
    }
    .resume-about__feedback p:nth-child(2){
        position: relative;
        left: -10px;
    }
    .resume-about__feedback p:nth-child(3){
        position: relative;
        left: -25px;
        margin-bottom: 0;
    }
    .resume-about hr{
        margin-top: 69px;
        margin-bottom: 44px;
        border: 1px solid #969696;
    }
    .resume-about button {
        width: 250px;
        height: 58px;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        position: relative;
        margin: 75px 220px 75px 238px;

    }
    .resume-content{
        margin-right: 0;
        width: 708px;
    }
    .resume-content__skills{
        padding-bottom: 54px;
    }
    .resume-content__skills li{
        font-size: 22px;
        line-height: 36px;
        margin-bottom: 0;
        margin-top: 0;
        margin-right: 40px;
    }
    .resume-content__skills li:nth-child(6){
        list-style-type: none;
    }
    .resume-content__wrapper hr{
        width: 588px;
    }
    .languages-block{
        margin: 17px 0 71px 0;
        height: 250px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .languages-block__item{
        background-color: #E7E7E7;
        width: 239px;
        height: 118px;
        border-radius: 10px;
        display: flex;
    }
    .languages-block__item:nth-child(1){
        margin-right: 29px;
        margin-bottom: 17px;
    }
    .interest-list{
        margin: 30px 66px 50px 72px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .interest-list li{
        list-style-type: none;
        background-color: #233558;
        border-radius: 10px;
        width: 178px;
        font-weight: 500;
        line-height: 21px;
        text-align: center;
        color: #FFFFFF;
        margin: 0;
        margin-bottom: 28px;
    }
    .interest-list li:nth-last-child(1){
        margin-right: 0;
    }
}
